<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../aba-widget/aba-widget.html" />
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html" />
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html" />
<link rel="import" href="../abas-config/abas-config-meta.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-column.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-column-group.html" />
<link rel="import" href="../prism-event-bus/prism-event-bus.html" />

<link rel="import" href="../abas-widget-style/abas-widget-style.html" />

<link rel="import" href="../paper-input/paper-input.html" />

<link rel="import" href="../abas-user-info/abas-user-info.html" />

<link rel="import" href="../aba-js-imports/lodash-import.html" />

<link rel="import" href="./aba-record-selector-widget-settings.html" />
<link rel="import" href="../iron-icons/iron-icons.html" />
<link rel="import" href="../iron-icons/hardware-icons.html" />
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../paper-listbox/paper-listbox.html" />
<link rel="import" href="../paper-item/paper-item.html" />

<dom-module id="aba-record-selector-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <abas-user-info user-info="{{_userInfo}}"></abas-user-info>

        <style include="abas-widget-style">
            :host {
                display: block;
                --vaadin-grid-body-row-active-cell: {
                    background: var(--accent-color);
                    color: white;
                }
            }

            [hidden] {
                display: none;
            }

            vaadin-grid {
                height: calc(100% - 35px);
                border: 0 !important;
            }

            .data {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            paper-listbox {
                height: calc( 100% - 45px);
                overflow: auto;
            }

            paper-item {
                display: grid;
                grid-template-columns: auto 60px;
                /* grid-column-gap: 5px; */
            }

            .detail {
                display: grid;
                grid-template-columns: 100px auto;
                grid-column-gap: 5px;
            }

            .detail>.left {
                grid-column: 1;
                /* justify-self: right; */
            }

            .detail>.right {
                grid-column: 2;
            }

            paper-item.odd {
                background: var(--abas-black-700);
                /* border-left: solid 5px lightgray; */
            }

            paper-item.even {
                /* background: yellow; */
                /* border-left: solid 5px red; */
            }

            .createicon {
                color: #1bbaa4;
            }

            hr {
                background: #1bbba3;
                height: 1px;
            }
        </style>

        <aba-widget>
            <div slot="content"
                 title="">
                <div class="widgettitle">[[title]]</div>
                <div class="circle"></div>
                <hr />

                <template is="dom-if"
                          if="[[_isList(selectedOutputType.value)]]">
                    <paper-listbox>
                        <template is="dom-repeat"
                                  items="[[tableData]]">
                            <paper-item class$="[[_oddIndex(index)]]">
                                <div class="detail">
                                    <template is="dom-repeat"
                                              items="[[copyFields]]"
                                              as="column">
                                        <div class="left">
                                            <b>[[column.name]]:</b>
                                        </div>
                                        <div class="right">
                                            [[_getValue(column.path,item,column)]]
                                        </div>
                                    </template>
                                </div>
                            <!-- <paper-icon-button on-tap="_open" icon="create" class="createicon"></paper-icon-button> -->
                            </paper-item>
                        </template>
                    </paper-listbox>
                </template>

                <template is="dom-if"
                          if="[[_isTable(selectedOutputType.value)]]">
                    <vaadin-grid id="grid"
                                 items="[[tableData]]"
                                 as="item"
                                 on-active-item-changed="_onActiveItemChanged">
                        <vaadin-grid-column-group>
                            <vaadin-grid-column width="50px"
                                                frozen
                                                flex-grow=0>
                                <template>
                                    <iron-icon hidden$="[[!item.selected]]"
                                               style="color: #1bbaa4"
                                               icon="hardware:keyboard-arrow-right"></iron-icon>
                                </template>
                            </vaadin-grid-column>
                            <template is="dom-repeat"
                                      items="[[copyFields]]"
                                      as="column">
                                <vaadin-grid-column>
                                    <template class="header">
                                        <paper-input label="[[column.name]]"
                                                     type="text"
                                                     on-change="_filterChange"
                                                     value={{column.value}}></paper-input>
                                    </template>
                                    <template>
                                        <div class="data">
                                            [[_getValue(column.path,item,column)]]
                                        </div>
                                    </template>
                                </vaadin-grid-column>
                            </template>
                        </vaadin-grid-column-group>
                    </vaadin-grid>
                </template>
            </div>
            <div slot="settingsForm" title="">
                <dom-if if="[[editMode]]">
                    <template>
                        <aba-record-selector-widget-settings title="{{title}}"
                                                             query-template="{{queryTemplate}}"
                                                             company="{{company}}"
                                                             vartab="{{vartab}}"
                                                             fields="{{fields}}"
                                                             variable="{{variable}}"
                                                             autostart="{{autostart}}"
                                                             message-bus-in="{{messageBusIn}}"
                                                             message-bus-out="{{messageBusOut}}"
                                                             top-bar-color="{{topBarColor}}"
                                                             selected-output-type="{{selectedOutputType}}">
                        </aba-record-selector-widget-settings>
                    </template>
                </dom-if>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbaSelectorWidget extends abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {
            constructor() {
                super();
                this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
            }
            static get is() { return 'aba-record-selector-widget' }
            static get properties() {
                return {
                    fallbackLanguage: { value: "en" },
                    title: { type: String },
                    vartab: { type: Object },
                    queryTemplate: { type: String, value: "" },
                    autostart: { type: Boolean, value: false },
                    messageBusIn: { type: String, observer: "_messageBusInChanged" },
                    messageBusOut: { type: String },
                    variable: { type: String },
                    selectedOutputType: { type: Object, observer: "_selectedOutputTypeChanged" },
                    fields: { type: Array, value: [] },
                    tableData: { type: Array, value: [] } /* processed data for rendering to vaadin-grid */
                };
            }
            /**
             * Array of strings describing multi-property observer methods and their
             * dependant properties
             */
            static get observers() {
                return [
                    '_fieldChanged(fields, fields.*, fields.splices)',
                    '_autoStartSearch(autostart, _configuration, _userInfo)',
                    '_getData(_configuration, company, vartab, queryTemplate)'
                ];
            }

            /**
             * Called every time the element is inserted into the DOM. Useful for
             * running setup code, such as fetching resources or rendering.
             * Generally, you should try to delay work until this time.
             */
            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);

                this.addEventListener('settings-updated', (e) => {
                    e.stopPropagation();
                    this.fireAttributesUpdate([{
                        name: e.detail.field,
                        value: e.detail.value
                    }]);
                    // ensures binding
                    this[e.detail.field] = e.detail.value;
                    this._setFilters();
                });
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener('settings-closed', this._boundfireUpdateAttribute);
                this._messageBusInChanged(undefined, this.messageBusIn);
            }

            _oddIndex(index) {
                return index % 2 == 0 ? "even" : "odd";
            }

            _isTable(type) {
                return type === "T";
            }
            _isList(type) {
                return type === "L";
            }

            _registerListener(newValue, oldValue, cb) {
                if (!!oldValue) {
                    PrismEventBus.unregister(this, [oldValue]);
                    this.removeEventListener(oldValue, cb);
                }
                if (!!newValue) {
                    PrismEventBus.register(this, [newValue]);
                    this.addEventListener(newValue, cb);
                }
            }

            _messageBusInChanged(newValue, oldValue) {
                this._registerListener(newValue, oldValue, this._incomingMessage);
            }

            _incomingMessage(e) {
                e.stopPropagation();

                this.objectID = e.detail.id;
                this._setFilters();
            }

            _getValue(path, item, column) {
                if (!_.isEmpty(item)) {
                    let variable = column.table ? item.fields[column.variable] : item.head.fields[column.variable];
                    if (!!variable) {
                        return variable.text ? variable.text : variable.value;
                    } else {
                        return "";
                    }
                }
                return "";
            }

            _hasTableFields(copyFields) {
                for (let field of copyFields) {
                    if (field.table) {
                        return true;
                    }
                }
                return false;
            }

            _fieldChanged() {
                // deep copy
                this.copyFields = JSON.parse(JSON.stringify(this.fields));
            }

            _selectedOutputTypeChanged() {
                this.notifySplices("selectedOutputType");
            }

            _filterChange(e) {
                if (e && e.model && e.model.column) {
                    this._getData(this._configuration, this.company, this.vartab, this.queryTemplate);
                }
            }

            _autoStartSearch(autostart, configuration, userInfo) {
                if (!autostart) {
                    return;
                }
                if (_.isEmpty(configuration)) {
                    return;
                }
                if (_.isEmpty(userInfo)) {
                    return;
                }
                this._debounceSearch();
            }

            _debounceSearch() {
                this._debouncer = Polymer.Debouncer.debounce(
                    this._debouncer,
                    Polymer.Async.timeOut.after(10),
                    () => {
                        this._setFilters()
                    }
                );
            }

            _replacePlaceHolders(template) {
                let query = template;
                query = query.replace(/\%OPERATOR\%/g, this._userInfo.operatorID);
                query = query.replace(/\%EMAIL\%/g, this._userInfo.email);
                query = query.replace(/\%EMPLOYEE\%/g, this._userInfo.employee);
                query = query.replace(/\%ACCOUNT\%/g, this._userInfo.account);
                query = query.replace(/\%OBJECT\%/g, this._objectID);

                return query;
            }

            /**
              * Create the db query and starts the search request
              */
            _setFilters() {
                let query = this._replacePlaceHolders(this.queryTemplate) + "";
                let headFields = [];
                let tableFields = [];
                headFields.push('id');
                if (this.copyFields) {
                    for (let filter of this.copyFields) {
                        if (!filter.table) {
                            headFields.push(filter.variable);
                        } else {
                            tableFields.push(filter.variable);
                        }
                        if (filter.hasOwnProperty('value')) {
                            query += `;${filter.variable}=${filter.value}`;
                        }
                    }
                }

                if (this.variable && this.objectID) {
                    query += `;${this.variable}=${this.objectID}`;
                }

                this.query = encodeURIComponent(query);
                this.query += `&headFields=${headFields.join(',')}`;
                this.query += `&tableFields=${tableFields.join(',')}`;
            }

            _getData(configuration, company, vartab, queryTemplate) {
                if (!configuration || !company || !vartab) return;
                this._setFilters();
                // selection
                let headers = new Headers();
                headers.set("accept", "application/abas.objects+json");
                headers.set("content-type", "application/json");
                auth0Fetch(`${configuration.api.erpBaseURL}${company.href}/obj/data/${vartab.tableSpec}?limit=15&criteria=${this.query}`, {
                    headers: headers
                }).then((response) => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw new Error('Pffrrrrr')
                }).then(data => {
                    // _getData
                    let retData = [];
                    if (data &&
                        data.content &&
                        data.content.data
                    ) {
                        let datax = data.content.data.erpDataObjects;

                        if (!this._hasTableFields(this.copyFields)) {
                            retData = datax;
                        } else {
                            for (let record of datax) {
                                for (let row of record.table) {
                                    row.head = record.head;
                                    retData.push(row);
                                }
                            }
                        }
                    }
                    this.set('tableData', retData);
                });
            }

            _onActiveItemChanged(e) {
                if (e && e.detail && e.detail.value && e.detail.value.head) {
                    this._selectElement(e);
                    PrismEventBus.post(new CustomEvent(this.messageBusOut, {
                        bubbles: false,
                        composed: true,
                        detail: {
                          id: `${e.detail.value.head.fields.id.value}`
                        }
                    }));
                }
            }

            _selectElement(event) {
                let grid = this.shadowRoot.querySelector('#grid');
                grid.selectedItems = grid.activeItem ? [grid.activeItem] : [];

                this.tableData.forEach(data => {
                    data.selected = false;
                });
                event.target.activeItem.selected = true;
                event.target.clearCache();
            }

            _fireUpdateAttribute() {
                this.fireAttributesUpdate([{
                    name: 'company',
                    value: this.company
                }, {
                    name: 'title',
                    value: this.title
                }, {
                    name: 'vartab',
                    value: this.vartab
                }, {
                    name: "queryTemplate",
                    value: this.queryTemplate
                }, {
                    name: "autostart",
                    value: this.autostart
                }, {
                    name: 'messageBusIn',
                    value: this.messageBusIn
                }, {
                    name: 'messageBusOut',
                    value: this.messageBusOut
                }, {
                    name: "variable",
                    value: this.variable
                }, {
                    name: "selectedOutputType",
                    value: this.selectedOutputType
                }, {
                    name: 'fields',
                    value: this.fields
                }
                ]);
            }
        }
        customElements.define(AbaSelectorWidget.is, AbaSelectorWidget);
    </script>
</dom-module>
