<link rel="import" href="../polymer/polymer.html" />

<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html" />
<link rel="import" href="../abas-config/abas-config-meta.html">

<link rel="import" href="../abas-database-picker/abas-database-picker.html" />
<link rel="import" href="../abas-field-list/abas-field-list.html" />

<link rel="import" href="../paper-card/paper-card.html" />
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-input/paper-input.html" />
<link rel="import" href="../paper-listbox/paper-listbox.html" />
<link rel="import" href="../paper-tooltip/paper-tooltip.html" />

<link rel="import" href="../paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="../aba-js-imports/lodash-import.html" />

<link rel="import" href="../vaadin-combo-box/vaadin-combo-box.html" />


<dom-module id="aba-record-selector-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style is="custom-style" include="abas-widget-style">
            :host {
                display: block;
            }

            .queryTemplateHelp > li {
                font-size: 15px;
            }

            paper-card {
                width: 100%;
                margin: 5px;
            }

            .flex {
                margin: 0 -5px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }

            .flex-item {
                margin: 0 5px;
                flex: 1 0 auto;
            }

            paper-toggle-button {
                --paper-toggle-button-checked-bar-color: #1bbba3;
                --paper-toggle-button-checked-button-color:  #1bbba3;
                --paper-toggle-button-checked-ink-color: #1bbba3;
            }
        </style>

        <div slot="general">

            <!-- First box: Title, comapny, message bus IN -->
            <paper-card heading="[[localize('settings.caption.general')]]">
                <div class="card-content">
                    <ui-text-field label="[[localize('settings.title')]]" text="{{title}}"></ui-text-field>
                    <ui-auto-complete label="[[localize('settings.erpCompany')]]" items="[[_companies]]" selected-item="{{company}}"></ui-auto-complete>
                    <abas-database-picker company="[[company.title]]" selection="{{vartab}}" label="[[localize('settings.tableOfVariable')]]"></abas-database-picker>
                </div>
            </paper-card>

            <!-- Box: Query -->
            <paper-card heading="[[localize('querySettingsBoxTitle')]]">
                <div class="card-content">
                    <paper-input id="queryTemplate"
                                 label="[[localize('queryTemplate')]]"
                                 type="text"
                                 value="{{queryTemplate}}"></paper-input>
                    <paper-tooltip for="queryTemplate">
                        <div class="queryTemplateHelp">
                            <li>[[localize('usePlaceHolder')]]
                                <b>%OPERATOR%</b> [[localize('replaceWithCurrentAbasUser')]]
                                <b>[[localize('operatorCode')]]</b>
                            </li>
                            <li>[[localize('usePlaceHolder')]]
                                <b>%EMAIL%</b> [[localize('replaceWithCurrentAbasUser')]]
                                <b>[[localize('email')]]</b>
                            </li>
                            <li>[[localize('usePlaceHolder')]]
                                <b>%ACCOUNT%</b> [[localize('replaceWithCurrentAbasUser')]]
                                <b>[[localize('passwordDefinition')]]</b>
                            </li>
                            <li>[[localize('usePlaceHolder')]]
                                <b>%EMPLOYEE%</b> [[localize('replaceWithCurrentAbasUser')]]
                                <b>[[localize('employee')]]</b>
                            </li>
                            <li>[[localize('usePlaceHolder')]]
                                <b>%OBJECT%</b> [[localize('replaceWith')]]
                                <b>[[localize('objectID')]]</b> [[localize('receivedInMessageBus')]]
                            </li>
                        </div>
                    </paper-tooltip>

                    <paper-toggle-button id="element_autostart_toggle" checked="{{autostart}}">[[localize('autostart')]]</paper-toggle-button>
                </div>
            </paper-card>

            <!-- Box: Message bus -->
            <paper-card heading="[[localize('settings.caption.messagebus')]]">
                <div class="card-content">
                    <paper-input type="text" value="{{variable}}" label="[[localize('variable')]]" on-change="(variableChanged)"></paper-input>
                    <paper-input type="text" value="{{messageBusIn}}" label="[[localize('settings.messageBusIn')]]"></paper-input>
                    <paper-input type="text" value="{{messageBusOut}}" label="[[localize('messageBusOut')]]"></paper-input>
                </div>
            </paper-card>

            <!-- Output fields -->
            <paper-card heading="[[localize('settings.caption.output')]]">
                <div class="card-content">
                    <vaadin-combo-box label="[[localize('settings.outputType')]]" items="[[outputTypes]]" selected-item="{{selectedOutputType}}"></vaadin-combo-box>
                    <slot name="fields"></slot>
                    <abas-field-list fields="{{fields}}" company="[[company.title]]" vartab="[[vartab.tableSpec]]">
                        <slot name="fieldProperties"></slot>
                    </abas-field-list>
                </div>
            </paper-card>
        </div>
    </template>

    <script>
        class AbaSelectorWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(Polymer.Element)) {
            constructor() {
                super();
            }
            static get is() { return 'aba-record-selector-widget-settings' }

            static get properties() {
                return {
                    _configuration: { type: Object },
                    fallbackLanguage: { value: "en" },
                    title: { type: String, notify: true },
                    messageBusIn: { type: String, notify: true },
                    messageBusOut: { type: String, notify: true },
                    variable: { type: String, notify: true },
                    company: { type: Object, notify: true },
                    vartab: { type: Object, notify: true },
                    fields: { type: Array, value: [], notify: true },
                    queryTemplate: { type: String, value: "", notify: true },
                    autostart: { type: Boolean, value: false, notify: true },
                    outputTypes: { type: Array },
                    selectedOutputType: { type: Object, notify: true }
                };
            }
            /**
            * Array of strings describing multi-property observer methods and their
            * dependant properties
            */
            static get observers() {
            }

            _onLocalizationInitCombos() {
                if (typeof this.localize == 'function') {
                    this.outputTypes = [
                        { label: this.localize('outputTypes.table'), value: "T" },
                        { label: this.localize('outputTypes.list'), value: "L" }
                    ];

                    if (!this.selectedOutputType) {
                        this.selectedOutputType = this.outputTypes[0];
                    } else {
                        let type = this.selectedOutputType;
                        if (typeof this.selectedOutputType != 'object') {
                            type = JSON.parse(this.selectedOutputType);
                        }
                        this.selectedOutputType = this.outputTypes.length > 0 ? this.outputTypes.filter(o => {
                                return o.value == type.value
                            })[0] : this.outputTypes[0];
                    }
                }
            }

            /**
            * Called every time the element is inserted into the DOM. Useful for
            * running setup code, such as fetching resources or rendering.
            * Generally, you should try to delay work until this time.
            */
            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('app-localize-resources-loaded', this._onLocalizationInitCombos.bind(this));
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }
        }
        customElements.define(AbaSelectorWidgetSettings.is, AbaSelectorWidgetSettings);
    </script>
</dom-module>
